.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__content {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/Like\ Icon.svg);
  background-color: transparent;

  opacity: 40%;
  width: 23px;
  height: 20px;
  border: none;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__content {
    max-width: 288px;
  }
}
