.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  outline: 2px solid #007bff;
}

.card__title {
  margin: 0px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__content {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
}

.card__like-button {
  background-image: url(../images/Like_Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
  width: 23px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/liked_red_icon.svg);
  opacity: 1;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__delete-button {
  background-image: url(../images/delete_can.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.card__delete-button:hover {
  background-color: #ff6565;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__content {
    max-width: 288px;
  }
}
