.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcf5e5;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin-right: 0;
  margin-left: 0;
}

.footer__content {
  padding: 60px 0;
  font-weight: 400;
}
