.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcf5ef;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin-right: 0;
  margin-left: 0;
}

.footer__content {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 0;
  margin-left: 0;
  font-weight: 100;
}
