.modal {
  visibility: hidden;
  font-family: Poppins, sans-serif;
  font-style: normal;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  opacity: 50%;
}

.modal__close-button:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px 16px;
  border-radius: 8px;
  border: 1px rgba(33, 33, 33, 0.4) solid;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 70%;
}
.modal__submit-button {
  background-color: black;
  color: white;
  width: 156px;
  height: 52px;
  margin-right: auto;
  padding: 18px, 32px, 18px;
  border-radius: 8px;
  border: none;
}

.modal__submit-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 627px) {
  .modal__submit-button {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
