.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  font-family: Poppins, sans-serif;
  font-style: normal;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__container-preview {
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  opacity: 0.5;
  cursor: pointer;
}

.modal__close-button_preview {
  top: -30px;
  right: -40px;
}

.modal__close-button:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: block;
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px 16px;
  border-radius: 8px;
  border: 1px rgba(33, 33, 33, 0.4) solid;
  box-sizing: border-box;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: #212121;
  opacity: 0.7;
}

.modal__error {
  display: block;
  color: #ff0000;
  font-style: normal;
  font-size: 16px;
  margin-top: 8px;
}

.modal__submit-button {
  background-color: black;
  color: white;
  width: 156px;
  height: 52px;
  margin-right: auto;
  padding: 18px 32px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal__submit-button_error {
  opacity: 0.5;
}

.modal__submit-button:hover {
  opacity: 0.5;
}

.modal__caption {
  color: white;
  background-color: #212121;
  border-radius: 8px;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  margin-right: auto;
  text-overflow: ellipsis;
  font-weight: 500;
}

@media screen and (max-width: 627px) {
  .modal__submit-button {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-size: 16px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__label {
    font-size: 16px;
  }
  .modal__input::placeholder {
    font-size: 16px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__container {
    padding: 12px;
  }
  .modal__caption {
    font-size: 16px;
  }

  .modal__close-button_preview {
    top: -70px;
    right: 0px;
  }
}
