.page {
  background-color: #fcf5e5;
  font-family: Poppins, sans-serif;
  font-style: normal;
  min-height: 100vh;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .page__section {
    max-width: 288px;
  }
}
